{% extends "base.html.twig" %}

{% block title %}Movimento ricorrente - Nuovo
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<h1>NUOVO MOVIMENTO RICORRENTE</h1>
			<div>
				<a class="btn btn-danger btn-sm mb-3" href="{{ path('app_ricorrenti_cancella_ok', { id: elementoid }) }}">CANCELLA</a>
			</div>
		</div>
	</div>

	{{ form_start(form) }}
    <div class="row">
		<div class="col-4">
			{{ form_label(form.Categoria) }}
			{{ form_widget(form.Categoria) }}
			<div class="text-red li-senza-pallino">
				{{ form_errors(form.Categoria) }}
			</div>
		</div>
		<div class="col-8">
			{{ form_label(form.Descrizione) }}
			{{ form_widget(form.Descrizione) }}
			<div class="text-red li-senza-pallino">
				{{ form_errors(form.Descrizione) }}
			</div>
		</div>        
	</div>
	<div class="row mt-2">
		<div class="col-4">
			{{ form_label(form.Inizio) }}
			{{ form_widget(form.Inizio, {'value' : 'now'|date('Y-m-d', "Europe/Rome")}) }}
			<div class="text-red li-senza-pallino">
				{{ form_errors(form.Inizio) }}
			</div>
		</div>
        <div class="col-4">
			{{ form_label(form.Fine) }}
			{{ form_widget(form.Fine, {'value' : 'now'|date('Y-m-d', "Europe/Rome")}) }}
			<div class="text-red li-senza-pallino">
				{{ form_errors(form.Fine) }}
			</div>
		</div>
		<div class="col-4">
			{{ form_label(form.Frequenza) }}
			{{ form_widget(form.Frequenza) }}
			<div class="text-red li-senza-pallino">
				{{ form_errors(form.Frequenza) }}
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-4">
			{{ form_label(form.Importo) }}
			{{ form_widget(form.Importo) }}
			<div class="text-red li-senza-pallino">
				{{ form_errors(form.Importo) }}
			</div>
		</div>
		<div class="col-4">
			{{ form_label(form.Tipo) }}
			{{ form_widget(form.Tipo) }}
			<div class="text-red li-senza-pallino">
				{{ form_errors(form.Tipo) }}
			</div>
		</div>
        <div class="col-4">
			{{ form_label(form.Attivo) }}
			{{ form_widget(form.Attivo) }}
			<div class="text-red li-senza-pallino">
				{{ form_errors(form.Attivo) }}
			</div>
		</div>
	</div>
	
	<div class="row mt-4">
		<div class="col-md-6 mt-2">
			<a class="btn btn-secondary btn-square w-100" href="{{ path('app_ricorrenti_lista') }}">TORNA INDIETRO</a>
		</div>
		<div class="col-md-6 mt-2">
			<button type="submit" class="btn btn-primary btn-square w-100">SALVA</button>
		</div>
	</div>
	{{ form_end(form) }}

{% endblock %}
