{% extends 'base.html.twig' %}

{% block title %}Mostra Movimento
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<h1>CANCELLA MOVIMENTO</h1>
		</div>
	</div>
	<div class="row py-3">
		<div class="col-12">
			<div class="card">
				<div class="row g-0">
					<div class="col">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h3 class="mb-0">
										{{ movimento.Categoria.Padre.Padre.Nome }} |
										{{ movimento.Categoria.Padre.Nome }} |
										{{ movimento.Categoria.Nome }}
									</h3>
								</div>
								<div class="col-auto fs-3 text-muted">
									{% if movimento.Categoria.Padre.Padre.Nome == 'Uscita' %}
										<span class="text-danger">-{{ movimento.Importo|format_currency('EUR', {rounding_mode: 'floor'}, locale='it') }}</span>
									{% else %}
										+{{ movimento.Importo|format_currency('EUR', {rounding_mode: 'floor'}, locale='it') }}
									{% endif %}
								</div>
							</div>
							<div class="row">
								<div class="col-md">
									<div class="mt-3 list mb-0 text-secondary">
										<div class="list-item">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-event" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"/><path d="M16 3l0 4"/><path d="M8 3l0 4"/><path d="M4 11l16 0"/><path d="M8 15h2v2h-2z"/></svg>
											{{ movimento.Data|date('d/m/Y') }}</div>
										<div class="list-item">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 9m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" /><path d="M14 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 9v-2a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v6a2 2 0 0 0 2 2h2" /></svg>
											{{ movimento.Tipo.Descrizione }}</div>
										<div class="list-item">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notes" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" /><path d="M9 7l6 0" /><path d="M9 11l6 0" /><path d="M9 15l4 0" /></svg>
											{{ movimento.Note }}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Allegati</h3>
				</div>
				<div class="list-group list-group-flush">
					{% for allegato in movimento.allegati %}
						<a href="{{ asset( 'uploads/allegati/' ~ allegato.nomefile) }}" target="_blank" class="list-group-item list-group-item-action">{{ allegato.nomefile }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-6">
			<a class="btn btn-secondary btn-square w-100" href="{{ path('app_movimento_lista') }}">TORNA INDIETRO</a>
		</div>
		<div class="col-6">
			<a class="btn btn-danger btn-square w-100" href="{{ path('app_movimento_cancella', { id: movimento.id }) }}">CANCELLARE</a>
		</div>
	</div>

{% endblock %}
