{% extends "base.html.twig" %}

{% block title %}Home
{% endblock %}

{% block body %}

	<div
		class="page-body">
		<!-- page-body -->
		<div
			class="container-xl">
			<!-- container-xl -->

			<div
				class="row row-deck row-cards">
				<!-- row row-deck row-cards -->

				<div class="col-12">
					<div class="card card-md">
						<div class="card-stamp card-stamp-lg">
							<div class="card-stamp-icon bg-primary">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coin-euro" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/><path d="M14.401 8c-.669 -.628 -1.5 -1 -2.401 -1c-2.21 0 -4 2.239 -4 5s1.79 5 4 5c.9 0 1.731 -.372 2.4 -1"/><path d="M7 10.5h4"/><path d="M7 13.5h4"/></svg>
							</div>
						</div>
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-10">
									<h3 class="h1">InOut</h3>
									<div class="markdown text-secondary">
										Questo è un gestionale opensource per le spese famigliari che tiene traccia di entrate e uscite.
										<br/>
										Permette inoltre di registrare gli allegati dei movimenti per l'invio al commercialista.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="row row-cards">
						<h2>Riepilogo spese del mese in corso</h2>
						<div class="col-sm-12 col-lg-4">
							<div class="card card-sm">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-auto">
											<span class="text-white avatar">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-transfer-in" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 18v3h16v-14l-8 -4l-8 4v3"/><path d="M4 14h9"/><path d="M10 11l3 3l-3 3"/></svg>
											</span>
										</div>
										<div class="col">
											<div class="font-weight-medium">
												<strong>+{{ entrate_mensili|format_currency('EUR', {rounding_mode: 'floor'}, locale='it') }}</strong>
											</div>
											<div class="text-secondary">
												Entrate mensili
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-4">
							<div class="card card-sm">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-auto">
											<span class="text-white avatar">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-transfer-out" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 19v2h16v-14l-8 -4l-8 4v2"/><path d="M13 14h-9"/><path d="M7 11l-3 3l3 3"/></svg>
											</span>
										</div>
										<div class="col">
											<div class="font-weight-medium">
												<strong>-{{ uscite_mensili|format_currency('EUR', {rounding_mode: 'floor'}, locale='it') }}</strong>
											</div>
											<div class="text-secondary">
												Uscite mensili
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-4">
							<div class="card card-sm">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-auto">
											<span class="text-white avatar">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-scale" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 20l10 0"/><path d="M6 6l6 -1l6 1"/><path d="M12 3l0 17"/><path d="M9 12l-3 -6l-3 6a3 3 0 0 0 6 0"/><path d="M21 12l-3 -6l-3 6a3 3 0 0 0 6 0"/></svg>
											</span>
										</div>
										<div class="col">
											<div class="font-weight-medium">
												<strong>{{ (entrate_mensili-uscite_mensili)|format_currency('EUR', {rounding_mode: 'floor'}, locale='it') }}</strong>
											</div>
											<div class="text-secondary">
												Differenza
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-12">
					<div class="row row-cards">
						<h2>Riepilogo spese annuali</h2>
						<div class="col-sm-12 col-lg-4">
							<div class="card card-sm">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-auto">
											<span class="text-white avatar">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-plus" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 12h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5.5"/><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2"/><path d="M16 19h6"/><path d="M19 16v6"/></svg>
											</span>
										</div>
										<div class="col">
											<div class="font-weight-medium">
												<strong>+{{ entrate_annuali|format_currency('EUR', {rounding_mode: 'floor'}, locale='it') }}</strong>
											</div>
											<div class="text-secondary">
												Entrate annuali
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-4">
							<div class="card card-sm">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-auto">
											<span class="text-white avatar">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-minus" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 15v-3h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5.5"/><path d="M16 19h6"/><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2"/></svg>
											</span>
										</div>
										<div class="col">
											<div class="font-weight-medium">
												<strong>-{{ uscite_annuali|format_currency('EUR', {rounding_mode: 'floor'}, locale='it') }}</strong>
											</div>
											<div class="text-secondary">
												Uscite annuali
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-4">
							<div class="card card-sm">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-auto">
											<span class="text-white avatar">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-scale" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 20l10 0"/><path d="M6 6l6 -1l6 1"/><path d="M12 3l0 17"/><path d="M9 12l-3 -6l-3 6a3 3 0 0 0 6 0"/><path d="M21 12l-3 -6l-3 6a3 3 0 0 0 6 0"/></svg>
											</span>
										</div>
										<div class="col">
											<div class="font-weight-medium">
												<strong>{{ (entrate_annuali-uscite_annuali)|format_currency('EUR', {rounding_mode: 'floor'}, locale='it') }}</strong>
											</div>
											<div class="text-secondary">
												Differenza
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="row row-cards">
						<h2>Prime cinque scadenze <a href="{{ path('app_scadenza_lista') }}" class="btn btn-primary btn-sm btn-square">Lista scadenze</a></h2>

						<div class="row">
							<div class="col-12">
								<div class="card">
									<div class="table-responsive">
										<table class="table table-vcenter card-table table-striped">
											<thead>
												<tr>
													<th>Attivita</th>
													<th class="text-end">Scadenza</th>
													<th class="text-end">Giorni mancanti</th>
												</tr>
											</thead>
											<tbody>
												{% for elemento in listaScadenze %}
													<tr>
														<td>{{ elemento.Attivita }}</td>
														<td class="text-end">{{ elemento.DataScadenza|date('d/m/Y') }}</td>
														<td class="text-end">
															{% if elemento.DifferenzaGiorni == 0 %}
																<span class="badge bg-orange text-black">Scade oggi</span>
															{% elseif elemento.DifferenzaGiorni == 1  %}
																<span class="badge bg-yellow text-black">In scadenza tra
																	{{ elemento.DifferenzaGiorni|abs }}
																	giorno</span>
															{% elseif elemento.DifferenzaGiorni > 1 and elemento.DifferenzaGiorni <= 30 %}
																<span class="badge bg-yellow text-black">In scadenza tra
																	{{ elemento.DifferenzaGiorni }}
																	giorni</span>
															{% elseif elemento.DifferenzaGiorni > 30 %}
																<span class="badge bg-lime text-black">Tra
																	{{ elemento.DifferenzaGiorni }}
																	giorni</span>
															{% elseif elemento.DifferenzaGiorni == -1  %}
																<span class="badge bg-red text-black">Scaduto da
																	{{ elemento.DifferenzaGiorni|abs }}
																	giorno</span>
															{% else %}
																<span class="badge bg-red text-black">Scaduto da
																	{{ elemento.DifferenzaGiorni|abs }}
																	giorni</span>
															{% endif %}
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="row row-cards">
						<h2>Somme movimenti per le varie categorie <a href="{{ path('app_movimento_lista') }}" class="btn btn-primary btn-sm btn-square">Lista movimenti</a></h2>
						
						<div class="row">
							<div class="col-12">
								<div class="card">
									<div class="table-responsive">
										<table class="table table-vcenter card-table table-striped">
											<thead>
												<tr>
													<th>Categoria</th>
													<th class="text-end">Importo</th>
												</tr>
											</thead>
											<tbody>
												{% for elemento in movimentiSomme %}
													<tr>
														<td>{{ elemento.MacroNome }} | {{ elemento.MesoNome }} | {{ elemento.MicroNome }}</td>
														<td class="text-end">{{ elemento.Totale|format_currency('EUR', {rounding_mode: 'floor'}, locale='it') }}</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- row row-deck row-cards -->

		</div>
		<!-- container-xl -->
	</div>
	<!-- page-body -->


{% endblock %}
