<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<h1 class="navbar-brand navbar-brand-autodark">
			<a href="{{ path('app_home') }}">
				<img src="{{ asset('logo.svg') }}" alt="InOut" class="navbar-brand-logo" width="110px">
			</a>
		</h1>

		<div class="collapse navbar-collapse" id="sidebar-menu">
			<ul class="navbar-nav pt-lg-3">
				<li class="nav-item {% if route_name matches '{^app_home}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_home') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<!-- Download SVG icon from http://tabler-icons.io/i/home -->
							<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0"/><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/></svg>
						</span>
						<span class="nav-link-title">
							Home
						</span>
					</a>
				</li>
				<li class="nav-item {% if route_name matches '{^app_movimento}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_movimento_lista') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<!-- Download SVG icon from http://tabler-icons.io/i/home -->
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-up-down" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M7 3l0 18"></path>
								<path d="M10 6l-3 -3l-3 3"></path>
								<path d="M20 18l-3 3l-3 -3"></path>
								<path d="M17 21l0 -18"></path>
							</svg>
						</span>
						<span class="nav-link-title">
							Movimenti
						</span>
					</a>
				</li>
				<li class="nav-item {% if route_name matches '{^app_allegato}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_allegato_lista') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<!-- Download SVG icon from http://tabler-icons.io/i/home -->
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5"></path>
							</svg>
						</span>
						<span class="nav-link-title">
							Allegati
						</span>
					</a>
				</li>
				<li class="nav-item dropdown {% if route_name matches '{^app_categoria}' %} active {% endif %}">
					<a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="true">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"/><path d="M4 13m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"/><path d="M14 4m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"/><path d="M14 15m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"/></svg>
						</span>
						<span class="nav-link-title">
							Categorie
						</span>
					</a>
					<div class="dropdown-menu {% if route_name matches '{^app_categoria}' %} show {% endif %}">
						<div class="dropdown-menu-columns">
							<div class="dropdown-menu-column">
								<a class="dropdown-item" href="{{ path('app_categoria_macro_lista') }}">
									Categorie macro
								</a>
								<a class="dropdown-item" href="{{ path('app_categoria_meso_lista') }}">
									Categorie meso
								</a>
								<a class="dropdown-item" href="{{ path('app_categoria_micro_lista') }}">
									Categorie micro
								</a>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item {% if route_name matches '{^app_tipopagamento}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_tipopagamento_lista') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 9m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" /><path d="M14 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 9v-2a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v6a2 2 0 0 0 2 2h2" /></svg>
						</span>
						<span class="nav-link-title">
							Tipi di pagamento
						</span>
					</a>
				</li>
				<li class="nav-item {% if route_name matches '{^app_ripetuti}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_home') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-replace" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 3m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" /><path d="M15 15m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" /><path d="M21 11v-3a2 2 0 0 0 -2 -2h-6l3 3m0 -6l-3 3" /><path d="M3 13v3a2 2 0 0 0 2 2h6l-3 -3m0 6l3 -3" /></svg>
						</span>
						<span class="nav-link-title">
							Ripetuti
						</span>
					</a>
				</li>
				<li class="nav-item {% if route_name matches '{^app_validazione}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_home') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3.5 5.5l1.5 1.5l2.5 -2.5" /><path d="M3.5 11.5l1.5 1.5l2.5 -2.5" /><path d="M3.5 17.5l1.5 1.5l2.5 -2.5" /><path d="M11 6l9 0" /><path d="M11 12l9 0" /><path d="M11 18l9 0" /></svg>
						</span>
						<span class="nav-link-title">
							Validazione
						</span>
					</a>
				</li>
				<li class="nav-item {% if route_name matches '{^app_commercialista}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_home') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<!-- Download SVG icon from http://tabler-icons.io/i/home -->
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-books" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<path d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
								<path d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
								<path d="M5 8h4" />
								<path d="M9 16h4" />
								<path d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z" />
								<path d="M14 9l4 -1" />
								<path d="M16 16l3.923 -.98" />
							</svg>
						</span>
						<span class="nav-link-title">
							Commercialista
						</span>
					</a>
				</li>
				<li class="nav-item {% if route_name matches '{^app_previsione}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_home') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<!-- Download SVG icon from http://tabler-icons.io/i/home -->
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-crystal-ball" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M6.73 17.018a8 8 0 1 1 10.54 0"></path>
								<path d="M5 19a2 2 0 0 0 2 2h10a2 2 0 1 0 0 -4h-10a2 2 0 0 0 -2 2z"></path>
								<path d="M11 7a3 3 0 0 0 -3 3"></path>
							</svg>
						</span>
						<span class="nav-link-title">
							Previsione
						</span>
					</a>
				</li>
				<li class="nav-item {% if route_name matches '{^app_analisi}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_home') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<!-- Download SVG icon from http://tabler-icons.io/i/home -->
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-pie-2" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M12 3v9h9"></path>
								<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
							</svg>
						</span>
						<span class="nav-link-title">
							Analisi
						</span>
					</a>
				</li>
				<li class="nav-item {% if route_name matches '{^app_scadenza}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_scadenza_lista') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-month" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M7 14h.013" /><path d="M10.01 14h.005" /><path d="M13.01 14h.005" /><path d="M16.015 14h.005" /><path d="M13.015 17h.005" /><path d="M7.01 17h.005" /><path d="M10.01 17h.005" /></svg>
						</span>
						<span class="nav-link-title">
							Scadenze
						</span>
					</a>
				</li>
				<li class="nav-item {% if route_name matches '{^app_eseguito}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_eseguito_lista') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checks" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l5 5l10 -10" /><path d="M2 12l5 5m5 -5l5 -5" /></svg>
						</span>
						<span class="nav-link-title">
							Eseguito
						</span>
					</a>
				</li>
				<li class="nav-item {% if route_name matches '{^app_logout}' %} active {% endif %}">
					<a class="nav-link" href="{{ path('app_logout') }}">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<!-- Download SVG icon from http://tabler-icons.io/i/home -->
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M9 12h12l-3 -3" /><path d="M18 15l3 -3" /></svg>
						</span>
						<span class="nav-link-title">
							Logout
						</span>
					</a>
				</li>
				<li class="nav-item">
					<hr />
					<a class="nav-link" href="https://tabler.io/docs/" target="_blank">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<!-- Download SVG icon from http://tabler-icons.io/i/home -->
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-tabler" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M8 9l3 3l-3 3"></path>
								<path d="M13 15l3 0"></path>
								<path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
							</svg>
						</span>
						<span class="nav-link-title">
							Tabler
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-bootstrap" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M2 12a2 2 0 0 0 2 -2v-4a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2" /><path d="M2 12a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-4a2 2 0 0 1 2 -2" /><path d="M9 16v-8h3.5a2 2 0 1 1 0 4h-3.5h4a2 2 0 1 1 0 4h-4z" /></svg>
						</span>
						<span class="nav-link-title">
							Bootstrap
						</span>
					</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="https://github.com/archistico/gestionale_farmaci/tree/main" target="_blank">
						<span
							class="nav-link-icon d-md-none d-lg-inline-block">
							<!-- Download SVG icon from http://tabler-icons.io/i/home -->
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
                            </svg>
						</span>
						<span class="nav-link-title">
							Gestionale farmaci github
						</span>
					</a>
				</li>
                
			</ul>
		</div>
	</div>
</aside>
